src/tests/**
src/tests
src/img/city2.jpg
src/img/girl.png
src/img/poke0.png
src/img/poke1.png
src/img/poke2.png
src/img/poke3.png
src/img/poke4.png
bin/tests/**
bin/tests
bin/img/city2.jpg
bin/img/girl.png
bin/img/poke0.png
bin/img/poke1.png
bin/img/poke2.png
bin/img/poke3.png
bin/img/poke4.png
